body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Poppins', sans-serif;
}
.flexCC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a, a:visited, a:link, a:hover {
  text-decoration: none;
  color: inherit;
}